PORT=
DB_URI=
JWT_SECRET=
JWT_EXPIRE=
COOKIE_EXPIRE=
GEMINI_API_KEY=
SMTP_HOST = 
SMTP_PORT = 
SMTP_SERVICE = 

SMTP_MAIL = 
SMTP_PASSWORD = 

SMTP_SLOT_MAIL= 
SMTP_SLOT_PASSWORD = 
CLIENT_ID = 
CLIENT_BASE_URL = 
BASE_URL = 

WorkOS keys
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_ORGANIZATION_ID=

# keycloakClient keys
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_IDP_HINT=